Django==1.6.2
Pillow==2.3.0
Scrapy==0.22.2
Twisted==13.2.0
beautifulsoup4==4.3.2
cssselect==0.9.1
dj-database-url==0.2.2
dj-static==0.0.5
django-admin-bootstrapped==1.6.4
gunicorn==18.0
lxml==3.3.1
psycopg2==2.5.2
pyOpenSSL==0.13.1
pystache==0.5.3
queuelib==1.1.1
six==1.5.2
static==1.0.2
w3lib==1.5
wsgiref==0.1.2
zope.interface==4.1.0
