{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ player.name }}{% endblock %}
{% block head_info %}
	<style>
		.team-name, h3, .stat-number, a.return-link, a.return-link:hover {
			color: {{  player.team.color }};
		}
		.stat {
			border: 2px solid {{ player.team.color }};
		}
		.stat p {
			background-color: {{ player.team.color }};
		}
	</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="team-header">
			<img class="team-logo" src="{{ MEDIA_URL }}{{ player.team.logo }}" />
			<span class="team-name">{{ player.team.name }}</span>
			<p>({{ player.team.overall_record }}, {{ player.team.conference_record }} {{ player.team.conference }})</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-7">
		<div class="player-head">
			<img class="player-portrait" src="{{ player.portrait }}" />
			<div class="player-title">
				<span class="player-name">#{{ player.number }} {{ player.name }}</span>	
				<br />			
				<ul>
					<li><b>Position:</b> {{ player.position }}</li>
					<li><b>Height:</b> {{ player.height }}</li>
					<li><b>Weight:</b> {{ player.weight }} lbs.</li>
				</ul>
				<ul>
					<li><b>Class Year:</b> {{ player.class_year }}</li>
					<li><b>Hometown:</b> {{ player.hometown }}</li>
					<li><b>Highschool:</b> {{ player.highschool }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-5">
		<div class="player-stat-wrapper">
			<h3>{{ stats.season }} Stats</h3>
			<div class="stat">
				<p>PPG</p>
				<span class="stat-number">{{ stats.points_per_game }}</span>
			</div>
			<div class="stat">
				<p>RPG</p>
				<span class="stat-number">{{ stats.rebounds_per_game }}</span>
			</div>
			<div class="stat">
				<p>APG</p>
				<span class="stat-number">{{ stats.assists_per_game }}</span>
			</div>
			<div class="stat">
				<p>TPG</p>
				<span class="stat-number">{{ stats.turnovers_per_game }}</span>
			</div>
			<div class="stat">
				<p>SPG</p>
				<span class="stat-number">{{ stats.steals_per_game }}</span>
			</div>
			<div class="stat">
				<p>BPG</p>
				<span class="stat-number">{{ stats.blocks_per_game }}</span>
			</div>
			<div class="stat">
				<p>FG%</p>
				<span class="stat-number">{{ stats.field_goal_percentage }}</span>
			</div>
			<div class="stat">
				<p>FT%</p>
				<span class="stat-number">{{ stats.free_throw_percentage }}</span>
			</div>
			<div class="stat">
				<p>3P%</p>
				<span class="stat-number">{{ stats.three_point_percentage }}</span>
			</div>	
		</div>
	</div>
</div>
<br />
<a class="return-link" href="team{{ player.team.id }}">Return to {{ player.team }} Roster</a>
{% endblock %}